/* for ngGrid */
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 300px;
    height: 600px
}

/* for snap - draggable shelf */
snap-content {
    background-color: #fff;
    border-left: 1px solid #ccc;
}

.angular-google-map-container {
    height: 400px;
}
