<h3>About</h3>

<h2>Jim's Phonebook learning application</h2>
This uses a simple data model
and process flow. This gets the model and use case out of the way so we can concentrate on basic
CRUD features in a new technology, language or environment.
<p>This project is an example of the following technologies:</p>
<ul>
   <li>HTML5, CSS3 and JS5</li>
   <li>Responsive Design via CSS3 Media Queries</li>
   <li>AngularJS</li>
   <li>Bootstrap</li>
   <li>Local property storage with LocalStorage</li>
   <li>Local data storage with IndexedDB</li>
   <li>Server/remote data storage with REST Web Services</li>
   <li>HTML5
      <ul>
         <li>Application Cache</li>
         <li>Datalist (state picklist)</li>
         <li>Form field types - tel, number, date, email</li>
      </ul>
   </li>
   <li>NodeJS - RESTful Web Service</li>
   <li>MongoDB - Server data storage</li>
</ul>
The project source and documentation is publicly available for free on
<a href="https://github.com/jshea/phonebook">github</a>.
<br>Your feedback is appreciated.
